<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>Judgmental Eye</title>
        <style>
            body {
                background-image: url("/static/img/background.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
    </head>
    <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
              <h1 class="cover-heading">Judgmental Eye.</h1>
            <p class="lead">We judge.
            <p class="lead">
            <a href="/user_list" class="btn btn-lg btn-default">View Our Users</a>
            </p>
          </div>

        </div>

      </div>

    </div>

    </body>
</html>